.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

/* ======= Reset some default styles ======= */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}




img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

/* ----comon---- */




@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;


    }
}

/* -----social-list-link---- */
.social-list {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 40px;
    fill: #f4f4fd;


}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-icon {
    fill: #f4f4fd;
}

.social-link:hover,
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}


/* ---mobile menu--- */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0%)
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;

}

.mobile-menu-close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.modal-close-button-icon:hover,
.modal-close-button-icon:focus {
    border: none;
    background-color: #404bbf;
}


.modal-close-button-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-icon:hover,
.modal-close-button-icon:focus {
    fill: #ffffff;
}


.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list:not(:last-child) {
    margin-bottom: 40px;
}


.mobile-logo-part {

    color: #4d5ae5;

}

.mobile-address {
    margin-bottom: 48px;
    font-style: normal;
}

.mobile-contact-list-link {
    color: #434455;
}

.mobile-nav-list {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-contact-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-social-list {
    gap: 40px;
}

.mobile-nav-list-link:active,
.mobile-contact-list-link:active {
    color: #4d5ae5;
}





@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}


/*---- header --*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: none;
}

.nav-menu,
.contacts {
    display: none;
}

.logo,
.footer-logo {

    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;

}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background: transparent;

}

.burger-icon {
    display: block;
    fill: #2f2f37;
}






@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;

    }

    .header-nav {
        display: flex;
        align-items: center;

    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;


    }

    .nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
        color: #404bbf;

    }

    .nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .contact-links {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-item .nav-link:hover,
    .nav-item .nav-link:focus,
    .contact-item .contact-links:hover,
    .contact-item .contact-links:focus,
    .nav-link.current {
        color: #404bbf;
    }

}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;

    }

    .contact-links {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }


}

/* ---HEEROO----- */
.hero {
    max-width: 320px;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero/hero-mobile-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}





@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/hero/hero-mobile@2x-min.jpg")
    }

}

.main-text {
    max-width: 216px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

}

.main-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:active {
    background-color: #404bbf;
}


@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-image.jpg);
    }


    .main-text {
        max-width: 496px;
        line-height: 1.07;
        margin-bottom: 36px;
        font-size: 56px;

    }


    .main-button:hover,
    .main-button:focus {
        background-color: #404bbf;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-image@2x.jpg)
    }


}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-image.jpg);
    }
}


@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-image@2x.jpg)
    }

}

/* ---benefits-- */
.benefit-icon {
    display: none;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding: 96px 0;
}

.feature {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-text {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        gap: 72px 24px;
    }

    .benefit-item {
        width: calc((100% - 24px) / 2);
    }

    .feature {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list {
        gap: 24px;
    }

    .benefit-item {
        width: calc((100% - 72px) / 4);
    }

    .feature {

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;

    }

    .feature-text {
        font-weight: 400;
    }

    .benefit-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        padding: 24px 100px;
    }

}

/* ---TEAM SECTION-- */
.team {
    padding: 96px 0;
    margin: 0 auto;
    background: #f4f4fd;

}

.section-team {
    display: none;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.team-info {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;

}

.team-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.team-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.social-list {
    width: 232px;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .team-container {
        padding: 0 108px;
    }

    .team-list {
        gap: 64px 24px;
    }

    .team-info {
        width: calc((100% - 24px) / 2);
    }

    @media screen and (min-width: 1158px) {
        .team-container {
            padding: 0 15px;
        }

        .team-info {
            width: calc((100% - 72px) / 4);
        }
    }

}

/* ---PORTFOLIO--- */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}



.second-title {

    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {

    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:active .overlay {
    transform: translateY(0%);
}

.portfolio-overlay {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100%-24px)/2);
    }

    .portfolio-item:hover .overlay,
    .portfolio-item:focus .overlay {
        transform: translateY(0%);
    }

}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover,
    .portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/* ======= modal ======= */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale (1.5);
}

.modal-close-btn {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
}


.modal-close-button-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-button-icon,
.modal-close-btn:focus .modal-close-button-icon {
    fill: #ffffff;

}

/* --------modal form------ */

.modal-main-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

}

.modal-input-wrapper {
    margin-bottom: 8px;
    width: 100%;
}




.modal-input-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: 0.3s;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    outline: none;
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-input-icon {
    fill: #4d5ae5;
}


.modal-input-wrapper {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* --Coment-Modal-- */
.modal-form-message {
    justify-content: center;
    margin-bottom: 16px;
}

.form-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    padding: 8px 16px;
    letter-spacing: 0.04em;

    background-color: transparent;
    outline: transparent;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-textarea:focus {
    outline: none;
    border-color: #4d5ae5;
}

textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

/* ---Chekbox--- */
.modal-input-wrapper-checkbox {
    margin-bottom: 24px;
}

.modal-chek:checked+.modal-form-checkbox-label>.checkbox-span {
    border: 1px solid #404bbf;
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.modal-form-checkbox-label {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    a {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
    }
}

.checkbox-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    fill: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.checkbox-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


/* ----button send modal form--- */
.modal-form-submit-button {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

}

.modal-form-submit-button:active {
    background-color: #404bbf;
}



.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding-left: 24px;
        padding-right: 24px;
        padding: 72px 24px 24px 24px;
    }
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
    background-color: #404bbf;
}



.modal-close-btn:hover .modal-close-button-icon,
.modal-close-btn:focus .modal-close-button-icon {
    fill: #fff;
}


/* ====== FOOOOTER ====== */




.footer {
    display: flex;
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.container.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.logo-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-span {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.social-list-footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.social-footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
}

.social-list-footer-item {
    width: 40px;
    height: 40px;
}

.social-list-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer-icon {
    fill: #f4f4fd;
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    padding-left: 16px;
    background-color: transparent;
}

.footer-input::placeholder {
    color: #ffffff;
    opacity: 0.6;
}




.subscribe-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {

    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-button-icon {
    margin-left: 16px;
    fill: #fff;
}